{
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-flow-strip-types"
  ],
  "env": {
    "cjs": {
      "plugins": [
        "@babel/plugin-proposal-class-properties"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": 8
            }
          }
        ]
      ]
    },
    "mjs": {
      "plugins": [
        "@babel/plugin-proposal-class-properties"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": 8
            },
            "loose": true,
            "modules": false
          }
        ]
      ]
    },
    "es": {
      "plugins": [
        "@babel/plugin-proposal-class-properties"
      ]
    },
    "node8": {
      "plugins": [
        "@babel/plugin-proposal-class-properties"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": 8
            },
            "loose": true,
            "modules": "commonjs"
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        "@babel/plugin-proposal-class-properties"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
